/* ------------------------|| IMPORTS -----------------------*/
@import url('./utilities/main.css');

/*--------------------- || HOMEPAGE ----------------------------*/

/* --------------------------- || CATEGORY SECTION ----------------- */
.main {
    padding: 2rem 7rem;
    background-color: var(--component-bg-color);
}
.category-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
.card-vertical {
    min-width: 14rem;
}
.card-overlay-details {
    background-color: var(--card-overlay-bg-color);
}

/* ----------------------------- || BANNER SECTION -------------------- */
.banner-section {
    background-color: var(--banner-bg-color);
    min-height: 30rem;
    margin: 2rem 0;
}

/* --------------------- || ARTICLE SECTION ------------------- */
.article-section {
    display: flex;
    gap: 2rem;
}
.article {
    background-color: var(--banner-bg-color);
    display: flex;
    padding: 3rem 2.5rem;
}
.article-img {
    max-width: 10rem;
}
.article-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
}
.article-header {
    margin-bottom: 1.5rem;
}


