/* ------------------------ || IMPORTS -----------------------*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://wings-ui.netlify.app/components/component.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

/* ------------------- || UNIVERSAL CSS ---------------------------*/
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------- || ROOT CSS ---------------------------*/
:root {
    --brand-color: #f72585;
    --container-bg-color: #ffffff;
    --component-bg-color: #f7f7f7;
    --card-overlay-bg-color: #800039;
    --banner-bg-color: #c4c4c4;
}

/* -------------- || UTILITIES -------------- */
.link {
    text-decoration: none;
    color: inherit;
}

/*--------------------- || NAVBAR ----------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brand-name {
    font-size: 1.3rem;
}
.brand-first-name {
    color: var(--brand-color);
}
.search-addon {
    position: relative;
    top: 0;
}
.search-icon {
    position: absolute;
    left: 0.5rem;
    top: 0.4rem;
    cursor: pointer;
}
.search-input {
    padding: 0.3rem 2rem;
    border-radius: 0.3rem;
}
.badge {
    vertical-align: sub;
    cursor: pointer;
}
.badge-symbol {
    font-size: 1.6rem;
}
.badge-count {
    line-height: 1.5;
    font-size: 0.8rem;
}

/* -------------------------- || CONTAINERS ------------------------------- */
.card,.form-container {
    background-color: var(--container-bg-color);
}

  