<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./wishlist.css" />
    <title>Wishlist</title>
  </head>
  <body>
    <!-- || NAVBAR -->
    <nav class="navbar">
      <a href="/" class="link">
        <h3 class="brand-name">
          <span class="brand-first-name">Hoodie</span> Mart
        </h3>
      </a>
      <span class="search-addon">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input type="text" class="search-input" placeholder="Search" />
      </span>
      <div class="nav-right">
        <a href="../login-page/login.html" class="link">
          <button type="button" class="btn btn-sm primary">Login</button>
        </a>
        <a href="./wishlist.html" class="link">
          <span class="badge icon-badge">
            <i class="fa-regular fa-heart badge-symbol"></i>
            <span class="badge-count">5</span>
          </span>
        </a>
        <a href="../cart-page/cart.html" class="link">
          <span class="badge icon-badge">
            <i class="fas fa-shopping-cart badge-symbol"></i>
            <span class="badge-count">8</span>
          </span>
        </a>
      </div>
    </nav>
    <!-- || WISHLIST MAIN -->
    <main class="wishlist-main">
      <h3 class="wishlist-header">My Wishlist</h3>
      <!-- || WISHLIST SECTION -->
      <section class="wishlist-section">
        <div class="card card-vertical">
          <img
            class="card-img"
            src="../../assets/product-item.webp"
            alt="product"
          />
          <div class="card-details">
            <h3 class="card-title">H&T</h3>
            <small class="card-sub-title">
              Men Light Blue Relaxed Fit Hoodie
            </small>
          </div>
          <div class="card-price-section">
            <strong class="selling-price">₹ 1199</strong>
            <small class="original-price">₹ 1499</small>
            <p class="discount">(20% off)</p>
          </div>
          <div class="card-buttons">
            <button type="button" class="btn btn-sm primary">
              <i class="fas fa-shopping-cart btn-icon"></i> Move to cart
            </button>
            <button
              type="button"
              class="btn btn-sm outline outline-info card-icon"
            >
              <i class="fa-solid fa-heart"></i>
            </button>
          </div>
        </div>
        <div class="card card-vertical">
          <img
            class="card-img"
            src="../../assets/pink-hoodie.jpg"
            alt="product"
          />
          <div class="card-details">
            <h3 class="card-title">H&T</h3>
            <small class="card-sub-title">
              Men Light Blue Relaxed Fit Hoodie
            </small>
          </div>
          <div class="card-price-section">
            <strong class="selling-price">₹ 1199</strong>
            <small class="original-price">₹ 1499</small>
            <p class="discount">(20% off)</p>
          </div>
          <div class="card-buttons">
            <button type="button" class="btn btn-sm primary">
              <i class="fas fa-shopping-cart btn-icon"></i> Move to cart
            </button>
            <button
              type="button"
              class="btn btn-sm outline outline-info card-icon"
            >
              <i class="fa-solid fa-heart"></i>
            </button>
          </div>
        </div>
        <div class="card card-vertical">
          <img
            class="card-img"
            src="../../assets/product-item.webp"
            alt="product"
          />
          <div class="card-details">
            <h3 class="card-title">H&T</h3>
            <small class="card-sub-title">
              Men Light Blue Relaxed Fit Hoodie
            </small>
          </div>
          <div class="card-price-section">
            <strong class="selling-price">₹ 1199</strong>
            <small class="original-price">₹ 1499</small>
            <p class="discount">(20% off)</p>
          </div>
          <div class="card-buttons">
            <button type="button" class="btn btn-sm primary">
              <i class="fas fa-shopping-cart btn-icon"></i> Move to cart
            </button>
            <button
              type="button"
              class="btn btn-sm outline outline-info card-icon"
            >
              <i class="fa-solid fa-heart"></i>
            </button>
          </div>
        </div>
        <div class="card card-vertical">
          <div class="card-overlay-container card-opacity">
            <img class="card-img" src="../../assets/product-item.webp" alt="card" />
            <div class="card-overlay-details">
              <h3 class="card-overlay-title">OUT OF STOCK</h3>
            </div>
          </div>
          <div class="card-details">
            <h3 class="card-title">H&T</h3>
            <small class="card-sub-title">
              Men Light Blue Relaxed Fit Hoodie
            </small>
          </div>
          <div class="card-price-section">
            <strong class="selling-price">₹1199</strong>
            <small class="original-price">₹1499</small>
            <p class="discount">(20% off)</p>
          </div>
          <div class="card-buttons">
            <button
              type="button"
              class="btn btn-sm primary not-allowed"
              disabled
            >
              <i class="fas fa-shopping-cart btn-icon"></i> Move to cart
            </button>
            <button
              type="button"
              class="btn btn-sm outline outline-info card-icon"
            >
              <i class="fa-solid fa-heart"></i>
            </button>
          </div>
        </div>
        <div class="card card-vertical">
          <img
            class="card-img"
            src="../../assets/pink-hoodie.jpg"
            alt="product"
          />
          <div class="card-details">
            <h3 class="card-title">H&T</h3>
            <small class="card-sub-title">
              Men Light Blue Relaxed Fit Hoodie
            </small>
          </div>
          <div class="card-price-section">
            <strong class="selling-price">₹ 1199</strong>
            <small class="original-price">₹ 1499</small>
            <p class="discount">(20% off)</p>
          </div>
          <div class="card-buttons">
            <button type="button" class="btn btn-sm primary">
              <i class="fas fa-shopping-cart btn-icon"></i> Move to cart
            </button>
            <button
              type="button"
              class="btn btn-sm outline outline-info card-icon"
            >
              <i class="fa-solid fa-heart"></i>
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

