/* ------------------------|| IMPORTS -----------------------*/
@import url("../../utilities/main.css");

/* -------------------- || CART MAIN --------------------- */
.cart-main {
  background-color: var(--component-bg-color);
  padding: 2rem 0;
}
.cart-header {
  text-align: center;
}

/* -------------------- || CART SECTION --------------------- */
.cart-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
}

